/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);



//Header

.centered {
	text-align: center;
	vertical-align: text-bottom;
}

.navbar-inverse {
	background-color: transparent;
	border-width: 0px;
	margin-bottom: 200px;

}

.jumbotron {
	background-image: url("../img/cover.jpg");
	background-repeat: no-repeat;
	padding-top: 5px;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;

	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

